/* Ensure the parent container takes up the full viewport height */
body, html {
  height: 100%;
  margin: 0;
}

.user-main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-left: 80px;
  padding-top: 20px;
}

.user-container {
  min-height: 260px;
  max-height: 300px;
  max-width: 1200px;
  width: 100%; /* Full width for the container */
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 3px 3px 10px rgb(188, 188, 188);
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.user-header {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px 10px 20px;
  border-bottom: 2px solid rgba(0, 20, 151, 0.59);
}

.user-form-container {
  font-size: 30px;
  font-weight: 600;
  color: #5500cb;
}

.report-container {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%; /* Full width for the report container */
  max-height: calc(100vh - 150px); /* Adjust height to fit within the viewport */
  overflow-y: hidden; /* Prevent overflow for the container itself */
  display: flex;
  flex-direction: column;
}

.report-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  flex-shrink: 0; /* Prevent the header from shrinking */
}

.report-body {
  flex: 1; /* Allow the body to take up remaining space */
  overflow-y: auto; /* Enable vertical scrolling */
  padding: 10px;
}

.report-topic-heading, .items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
}

.t-op, .t-op-nextlvl {
  flex: 1;
  text-align: center;
}

.button-block {
  width: 100px;
  text-align: center;
  background-color: rgb(0, 177, 0);
  color: white;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
}

.delete-button {
  width: 100px;
  text-align: center;
  background-color: rgb(177, 0, 0);
  color: white;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
}

.search-add-container {
  display: flex;
  align-items: center;
  gap: 10px; /* Adjust the gap between search input and button */
}

.search-input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px; /* Adjust width as needed */
  font-size: 12px; /* Adjust font size as needed */
}

.view-button {
  padding: 8px 16px;
  background-color: #007bff; /* Change to the desired color */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.view-button:hover {
  background-color: #0056b3; /* Darker shade for hover effect */
}
